<!DOCTYPE html>
<html ng-app="GestionEmpleado">
<head>
    <meta charset="utf-8" />
    <title>Gestion de Empleados</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel='stylesheet' href='/mywebsite/css/styles.css'>

    <script src="../../../Scripts/angular.js"></script>
    <script src="../../../Scripts - Views/GestionEmpleado.js"></script>

</head>
<body>
    <div id='page'>
        <header>
            <div id='logo'><img src="/mywebsite/rsc/imgs/bot.png" alt="picture" width="190" /></div>
            <nav id='menu'>
                <ul>
                    <li><a href='/mywebsite/Administrador/HomeAdministrador.html' title="INICIO">INICIO</a></li>
                    <li><a href='/mywebsite/Administrador/GestionClientes/GestionClientes.html' title="GESTIONCLIENTES">GESTION CLIENTES</a></li>
                    <li><a href='/mywebsite/Administrador/GestionDoctores/GestionDoctores.html' title="GESTIONEMPLEADOS">GESTION EMPLEADOS</a></li>
                    <li><a href='/mywebsite/Administrador/GestionMedicamentos/GestionMedicamentos.html' title="GESTIONMEDICAMENTOS">GESTION MEDICAMENTOS</a></li>
                    <li><a href='/mywebsite/Administrador/GestionRoles/GestionRoles.html' title="GESTIONROLES">GESTION ROLES</a></li>
                    <li><a href='/mywebsite/Administrador/GestionSucursales/GestionSucursales.html' title="GESTIONSUCURSALES">GESTION SUCURSALES</a></li>
                    <li><a href='/mywebsite/Administrador/Estadisticas/Estadisticas.html' title="ESTADISTICAS">ESTADISTICAS</a></li>
                </ul>
            </nav>
        </header>

        <section id='main'>
            <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
                <center>
                    <!-- First Photo Grid-->
                    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                        <div class="w3-quarter">
                            <a href="#" onClick="href='GestionDoctorAgregar.html'"><img src="/mywebsite/rsc/imgs/agregarDoctor.jpg" alt="Agregar" style="width:100%"></a>
                            <h3>Agregar un nuevo empleado.</h3>
                            <p>Para agregar un nuevo empleado.</p>
                        </div>
                        <div class="w3-quarter">
                            <a href="#" onClick="href='GestionDoctorEliminar.html'"> <img src="/mywebsite/rsc/imgs/borrarCliente.png" alt="Borrar" style="width:100%"></a>
                            <h3>Borrar Empleado</h3>
                            <p>Se borra un empleado de la base de datos.</p>
                        </div>
                        <div class="w3-quarter">
                            <a href="#" onClick="href='GestionDoctorModificar.html'"><img src="/mywebsite/rsc/imgs/modificarCliente.png" alt="Modificar" style="width:100%"></a>
                            <h3>Modificar Empleado</h3>
                            <p>Se modificara los datos de una empleado.</p>
                        </div>
                    </div>
                </center>
            </div>

            <section id='registro'>
                <form action="" method="put" ng-controller="ModificarContoller">
                    <center>
                        <h2>Modificar</h2>
                        <input type="number" class='field' value='' placeholder='Cedula' name='txtcedula' ng-model="cedula" required />
                        <button type="button" class="button button-primary" ng-click="buscar()">Buscar</button>
                        <br><br>
                        <input type="text" class='field' value="{{buscar.Nombre}}" placeholder="Nombre" disabled />
                        <br><br>
                        <input type="text" class='field' value="{{buscar.Apellido1}}" placeholder='Primer Apellido' disabled />
                        <br><br>
                        <input type="text" class='field' value="{{buscar.Apellido2}}" placeholder='Segundo Apellido' disabled />
                        <br><br>
                        <input type="text" class='field' value="{{buscar.Telefono}}" placeholder='Telefono' id="telefono" required />
                        <br><br>
                        <input type="password" class='field' value='' placeholder='Password' name='txtpass' id="password" required />
                        <br><br>
                        <input type="text" class='field' value="{{buscar.Provincia}}" placeholder='Provincia' name='txtprovincia' id="provincia" required />
                        <br><br>
                        <input type="text" class='field' value="{{buscar.Canton}}" placeholder='Canton' name='txtcanton' id="canton" required />
                        <br><br>
                        <input type="text" class='field' value="{{buscar.Distrito}}" placeholder='Distrito' name='txtdistrito' id="distrito" required />
                        <br><br>
                        <input type="text" class='field' value="{{buscar.DescripcionDireccion}}" placeholder='Direccion' name='txtdir' id="direccion" required />
                        <br><br>
                        <input type="text" class='field' value="{{buscar.FechaNacimiento}}" placeholder='Fecha Nacimiento' disabled />
                        <br><br>
                        <input type="text" class='field' value="{{buscarRol.IdRol}}"  placeholder='ID Rol' id="idRol" required />
                        <br><br>
                        <input type="text" class='field' value="{{buscarSucursal.SalarioHora}}" placeholder='Salario por Hora' id="salario" required />
                        <br><br>
                        <button type="button" class="button button-primary" ng-click="modificar()">Modificar</button>
                    </center>
                </form>
            </section>


        </section>
    </div>
</body>
</html>