<!DOCTYPE html>
<html ng-app="Estadistica">
<head>
    <meta charset="utf-8" />
    <title>Estadisticas</title>
    <link rel='stylesheet' href='/mywebsite/css/styles.css'>

    <script src="../../../Scripts/angular.js"></script>
    <script src="../../../Scripts - Views/estadistica.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    
</head>
<body>
    <header>
        <div id='logo'><img src="/mywebsite/rsc/imgs/bot.png" alt="picture" width="190" /></div>
        <nav id='menu'>
            <ul>
                <li><a href='/mywebsite/Administrador/HomeAdministrador.html' title="INICIO">INICIO</a></li>
                <li><a href='/mywebsite/Administrador/GestionClientes/GestionClientes.html' title="GESTIONCLIENTES">GESTION CLIENTES</a></li>
                <li><a href='/mywebsite/Administrador/GestionDoctores/GestionDoctores.html' title="GESTIONEMPLEADOS">GESTION EMPLEADOS</a></li>
                <li><a href='/mywebsite/Administrador/GestionMedicamentos/GestionMedicamentos.html' title="GESTIONMEDICAMENTOS">GESTION MEDICAMENTOS</a></li>
                <li><a href='/mywebsite/Administrador/GestionRoles/GestionRoles.html' title="GESTIONROLES">GESTION ROLES</a></li>
                <li><a href='/mywebsite/Administrador/GestionSucursales/GestionSucursales.html' title="GESTIONSUCURSALES">GESTION SUCURSALES</a></li>
                <li><a href='/mywebsite/Administrador/Estadisticas/Estadisticas.html' title="ESTADISTICAS">ESTADISTICAS</a></li>
                <li><a href='/mywebsite/Administrador/LogOut.html' title="SALIR">SALIR</a></li>
            </ul>
        </nav>
    </header>
    <section id='main' ng-controller="AllController">

        <div >
            <center>
                <h1>Productos mas vendidos por el sistema</h1>
                <table>
                    <tr>
                        <td>MEDICAMENTO</td>
                        <td>CANTIDAD DE VENTAS</td>
                    </tr>
                    <tr ng-repeat="x in AllValue">
                        <td>{{ x.Nombre }}</td>
                        <td>{{ x.Cantidad }}</td>
                    </tr>
                </table>
            </center>
        </div>
        <div>
            <center>
                <h1>Productos mas vendidos por la empresa</h1>
                <table>
                    <tr>
                        <td>MEDICAMENTO</td>
                        <td>CANTIDAD DE VENTAS</td>
                    </tr>
                    <tr ng-repeat="x in cantidadesValue">
                        <td>{{ x.Nombre }}</td>
                        <td>{{ x.Cantidad }}</td>
                    </tr>
                </table>
            </center>
        </div>
        <div>
            <center>
                <h1>Ventas por empresa</h1>
                <table>
                    <tr>
                        <td>MEDICAMENTO</td>
                        <td>CANTIDAD DE VENTAS</td>
                    </tr>
                    <tr ng-repeat="x in ventasValue">
                        <td>{{ x.Nombre }}</td>
                        <td>{{ x.Venta }}</td>
                    </tr>
                </table>
            </center>
        </div>
    </section>

</body>


</html>