<!DOCTYPE html>
<html ng-app="GestionMedicamento">
<head>
    <meta charset="utf-8" />
    <title>Gestion de Medicamentos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel='stylesheet' href='/mywebsite/css/styles.css'>

    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts - Views/GestionMedicamento.js"></script>

</head>
<body>
    <div id='page'>
        <header>
            <div id='logo'><img src="/mywebsite/rsc/imgs/bot.png" alt="picture" width="190" /></div>
            <nav id='menu'>
                <ul>
                    <li><a href='/mywebsite/Administrador/HomeAdministrador.html' title="INICIO">INICIO</a></li>
                    <li><a href='/mywebsite/Administrador/GestionClientes/GestionClientes.html' title="GESTIONCLIENTES">GESTION CLIENTES</a></li>
                    <li><a href='/mywebsite/Administrador/GestionDoctores/GestionDoctores.html' title="GESTIONEMPLEADOS">GESTION EMPLEADOS</a></li>
                    <li><a href='/mywebsite/Administrador/GestionMedicamentos/ConsultaMedicamento.html' title="GESTIONMEDICAMENTOS">GESTION MEDICAMENTOS</a></li>
                    <li><a href='/mywebsite/Administrador/GestionRoles/GestionRoles.html' title="GESTIONROLES">GESTION ROLES</a></li>
                    <li><a href='/mywebsite/Administrador/GestionSucursales/GestionSucursales.html' title="GESTIONSUCURSALES">GESTION SUCURSALES</a></li>
                    <li><a href='/mywebsite/Administrador/Estadisticas/Estadisticas.html' title="ESTADISTICAS">ESTADISTICAS</a></li>
                </ul>
            </nav>
        </header>

        <section id='main'>
            <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
                <center>
                    <!-- First Photo Grid-->
                    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                        <div class="w3-quarter">
                            <a href="#" onClick="href='GestionMedicamentoAgregar.html'"><img ng-model="data" src="/mywebsite/rsc/imgs/agregarCliente.png" alt="Agregar" style="width:100%"></a>
                            <h3>Agregar un nuevo medicamento</h3>
                            <p>Se podra agregar un nuevo medicamento.</p>
                        </div>
                        <div class="w3-quarter">
                            <a href="#" onClick="href='GestionMedicamentoEliminar.html'"> <img src="/mywebsite/rsc/imgs/borrarCliente.png" alt="Borrar" style="width:100%"></a>
                            <h3>Eliminar Medicamento</h3>
                            <p>Se eliminara un medicamento de la base de datos.</p>
                        </div>
                        <div class="w3-quarter">
                            <a href="#" onClick="href='GestionMedicamentoModificar.html'"><img src="/mywebsite/rsc/imgs/modificarCliente.png" alt="Modificar" style="width:100%"></a>
                            <h3>Modificar informacion de medicamento.</h3>
                            <p>Se modificara la informacion de un medicamento en la base de datos.</p>
                        </div>
                        <div class="w3-quarter">
                            <a href="#" onClick="href='ConsultaMedicamento.html'"><img src="/mywebsite/rsc/imgs/modificarCliente.png" alt="Modificar" style="width:100%"></a>
                            <h3>Consulta Medicamento</h3>
                            <p>Se podra obtener la informacion de un medicamento en especifico.</p>
                        </div>
                    </div>
                </center>
            </div>

            <h1>Seleciona las medicinas</h1><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3" style="background-color:lavenderblush;" ng-repeat="med in medicamentosid">
                        <center>
                            <h3>{{med.Nombre}}</h3>
                            <h4>Precio: {{med.Precio}}</h4>
                            <h5>Cantida disponible: {{med.Cantidad}}</h5>
                            <input type="number" min="0" class='field' ng-attr-id="{{'med'+med.IdMedicamento}}" value='' placeholder='Cantidad Solicitada' />
                        </center>
                    </div>
                </div>
            </div>


        </section>
    </div>
</body>
</html>