<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="utf-8" />
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts - Views/Test.js"></script>
    <script src="../Scripts/angular-base64-master/angular-base64-master/angular-base64.js"></script>
    <title></title>
</head>
<body>

    <div ng-controller="myController">
        <input type="date" ng-model="date" />
        <input type="file" id="file" name="file"/>
        <button ng-click="add()">UPLOAD</button>
        <button ng-click="image()">IMAGEN</button>
        <img src="{{base}}" />

    </div>
    
 
</body>
</html>